name: Publish Image to Docker Hub

on:
  push:
    branches: [ "main" ]

  schedule:
    - cron: '0 0 * * 0'

jobs:

  build_and_publish:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        version: [ "0.25.2", "0.25.3" ]

    steps:

      -
        uses: actions/checkout@v4

      -
        name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: jesscarlos/pkl-cli
          tags: |
            type=raw,value=latest,enable=${{ matrix.version == vars.LATEST_VERSION }}
            type=semver,pattern={{version}},value=${{ matrix.version }}
          labels: |
            maintainer=Jess Carlos
            org.opencontainers.image.title=PKL-CLI
            org.opencontainers.image.description=Configuration that is Programmable, Scalable, and Safe
            org.opencontainers.image.vendor=Ignittion, LLC.
            org.opencontainers.image.version=${{ matrix.version }}

      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: |
            VERSION=${{ matrix.version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
